<div
  class="signup-form-container"
  fxLayout="row"
  fxLayout.xs="row"
  fxLayoutAlign="end center"
  fxLayoutAlign.md="center center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.xs="start center"
>
  <mat-card
    fxFlex="25rem"
    fxFlex.sm="70%"
    fxFlex.xs="100%"
    class="mat-elevation-z8"
    color="primary"
  >
    <mat-card-content fxLayout="column" fxLayoutAlign="start" class="signup-form">
      <h2 fxFlexAlign="center" class="mat-headline">Open an account</h2>
      <form
        [formGroup]="signupForm"
        fxLayout="column"
        fxLayoutAlign="start"
        (ngSubmit)="submitSignupForm(signupForm.value)"
        fxLayoutGap="0.5rem"
      >
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput id="firstName" formControlName="firstName" required />
          <mat-error *ngIf="f.firstName.hasError('required')">
            {{ signupErrorMessages.FIRST_NAME_REQUIRED }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput id="lastName" formControlName="lastName" required />
          <mat-error *ngIf="f.lastName.hasError('required')">
            {{ signupErrorMessages.LAST_NAME_REQUIRED }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" type="email" required />
          <mat-error *ngIf="f.email.hasError('required')">
            {{ signupErrorMessages.EMAIL_REQUIRED }}
          </mat-error>
          <mat-error *ngIf="f.email.hasError('email')">
            {{ signupErrorMessages.EMAIL_INVALID_PATTERN }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            id="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <mat-error *ngIf="f.password.hasError('required')">
            {{ signupErrorMessages.PASSWORD_REQUIRED }}
          </mat-error>
          <mat-error *ngIf="f.password.hasError('pattern')">
            <div>
              {{ signupErrorMessages.PASSWORD_INVALID_PATTERN }}
            </div>
          </mat-error>
          <mat-error *ngIf="signupForm.errors?.crossControls">
            Password can't contain your First Name or Last Name
          </mat-error>
          <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            id="confirmedPassword"
            [type]="hideConfirmedPassword ? 'password' : 'text'"
            formControlName="confirmedPassword"
            required
          />
          <mat-error *ngIf="signupForm.errors?.mismatch">
            The retyped password does not match your password.
          </mat-error>
          <button
            mat-icon-button
            type="button"
            matSuffix
            (click)="hideConfirmedPassword = !hideConfirmedPassword"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          [class.isClicked]="showLoader"
          color="primary"
          type="submit"
          id="submit"
          fxFlex="3rem"
          [disabled]="signupForm.invalid"
        >
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
            <span *ngIf="!showLoader">Register</span>
            <span *ngIf="showLoader">Registring</span>
            <mat-spinner *ngIf="showLoader" [diameter]="20"></mat-spinner>
          </div>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
