<form
  [formGroup]="signupForm"
  fxLayout="column"
  fxLayoutAlign="start"
  id="signupForm"
  (ngSubmit)="submitSignupForm(signupForm.value)"
  fxLayoutGap="0.6rem"
>
  <mat-form-field fxFlex>
    <mat-label>First name</mat-label>
    <input matInput id="firstName" formControlName="firstName" required />
    <mat-error *ngIf="f.firstName.hasError('required')">
      {{ signupErrorMessages.FIRST_NAME_REQUIRED }}
    </mat-error>
    <mat-error *ngIf="f.firstName.hasError('pattern')">
      {{ signupErrorMessages.FIRST_NAME_ON_INVALID_PATTERN }}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Last name</mat-label>
    <input matInput id="lastName" formControlName="lastName" required />
    <mat-error *ngIf="f.lastName.hasError('required')">
      {{ signupErrorMessages.LAST_NAME_REQUIRED }}
    </mat-error>
    <mat-error *ngIf="f.lastName.hasError('pattern')">
      {{ signupErrorMessages.LAST_NAME_ON_INVALID_PATTERN }}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email" type="email" required />
    <mat-error *ngIf="f.email.hasError('required')">
      {{ signupErrorMessages.EMAIL_REQUIRED }}
    </mat-error>
    <mat-error *ngIf="f.email.hasError('email')">
      {{ signupErrorMessages.EMAIL_INVALID_PATTERN }}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Password</mat-label>
    <input
      matInput
      id="password"
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      [errorStateMatcher]="crossControlsMatcher"
      required
    />
    <mat-error *ngIf="f.password.hasError('required')">
      {{ signupErrorMessages.PASSWORD_REQUIRED }}
    </mat-error>
    <mat-error *ngIf="f.password.hasError('pattern')">
      <div>
        {{ signupErrorMessages.PASSWORD_INVALID_PATTERN }}
      </div>
    </mat-error>
    <mat-error *ngIf="signupForm.hasError('crossControls')">
      {{ signupErrorMessages.PASSWORD_CONTAINS_USER_NAME_ERROR }}
    </mat-error>
    <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      id="confirmedPassword"
      [type]="hideConfirmedPassword ? 'password' : 'text'"
      formControlName="confirmedPassword"
      required
    />
    <mat-error *ngIf="f.confirmedPassword.hasError('required')">
      {{ signupErrorMessages.PASSWORD_REQUIRED }}
    </mat-error>
    <mat-error *ngIf="f.confirmedPassword.hasError('mismatch')">
      {{ signupErrorMessages.CONFIRMED_PASSWORD_MATCHES_PASSWORD }}
    </mat-error>
    <button
      mat-icon-button
      type="button"
      matSuffix
      (click)="hideConfirmedPassword = !hideConfirmedPassword"
    >
      <mat-icon>{{ hideConfirmedPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    [class.isClicked]="showLoader"
    color="primary"
    type="submit"
    id="submit"
    [disabled]="signupForm.invalid"
    fxFlex="3rem"
  >
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
      <span *ngIf="!showLoader">Register</span>
      <span *ngIf="showLoader">Registering</span>
      <mat-spinner *ngIf="showLoader" [diameter]="20"></mat-spinner>
    </div>
  </button>
</form>
