.signup-form-container,
.signup-form {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

#submit {
    margin-top: 1rem;
    font-size: large;
}

::ng-deep.mat-progress-spinner circle,
::ng-deep.mat-spinner circle {
    stroke: white !important;
}

.isClicked {
    cursor: not-allowed;
}